<section class="min-h-[105vh] text-gray-600 dashboard-main-content">
  @if (store.isLoading()) {
    <div class="flex items-center justify-between mb-8">
      <div class="h-5 w-52 rounded-md bg-gray-200 animate-pulse"></div>
    </div>
    <div class="grid grid-cols-4">
      @for (i of skeletonArray; track $index) {
        <div class="border-y border-gray-200 py-3 px-2">
          <div class="h-4 w-full rounded-md bg-gray-200 animate-pulse mb-2"></div>
        </div>
      }
    </div>
  }

  @if (store.calls()?.[1] === 0) {
    <p>Aucun appel trouvé.</p>
  }

  @if (store.calls()?.[0]; as calls) {
    <p-table class="text-sm" [value]="calls" [size]="'small'" stripedRows [tableStyle]="{ 'min-width': '40rem' }">
      <ng-template #caption>
        <div class="flex items-center justify-between mb-8">
          <h5 class="text-lg font-bold">Liste des appels</h5>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <!-- <th>Actions</th> -->
        </tr>
      </ng-template>
      <ng-template #body let-call>
        <tr>
          <td>
            <p-avatar [image]="call | apiIMG: 'call'" />
          </td>
          <td class="max-w-[300px]">{{ call.name | titlecase }}</td>
          <td>{{ call.started_at | date: 'longDate' }}</td>
          <td>{{ call.ended_at | date: 'longDate' }}</td>
          <!-- <td>
            <div class="flex items-center gap-2">
              <button>
                <i-lucide [name]="icons.edit" class="size-4" />
              </button>
              <button>
                <i-lucide [name]="icons.trash" class="size-4" />
              </button>
            </div>
          </td> -->
        </tr>
      </ng-template>
      <ng-template #footer>
        @if ((store.calls()?.[1] || 0) > 12) {
          <tr>
            <td colspan="5" class="text-center text-sm">
              <div class="card flex justify-center text-center text-sm mt-2">
                <p-paginator
                  (onPageChange)="onPageChange($event)"
                  [first]="queryParams().page ? ((queryParams().page || 0) - 1) * 12 : 0"
                  [rows]="12"
                  [pageLinkSize]="5"
                  [showCurrentPageReport]="true"
                  [currentPageReportTemplate]="'{currentPage} sur {totalPages}'"
                  [totalRecords]="store.calls()?.[1]" />
              </div>
            </td>
          </tr>
        }
      </ng-template>
    </p-table>
  }
</section>
