<div class="font-satoshi fixed top-0 h-screen overflow-y-auto pt-6 w-[20vw] z-50 bg-primary-950 text-white">
  <div class="flex gap-3 items-center mb-10 px-8">
    <a routerLink="/" class="flex items-center gap-1 text-primary-50 hover:underline" aria-label="logo">
      <i-lucide [name]="icons.back" class="size-4" />
      Accueil
    </a>
  </div>
  <div class="flex flex-col gap-1.5 pb-48">
    @for (link of links(); track $index) {
      <a
        [routerLink]="link.path"
        class="group inline-flex items-center gap-2 px-8 py-2.5 font-medium hover:bg-primary-800 transition-colors duration-200"
        [routerLinkActiveOptions]="{ exact: link.exactUrl }"
        [routerLinkActive]="'bg-primary-800'">
        <i-lucide [name]="link.icon" class="size-4.5 text-inherit" />
        {{ link.name }}
      </a>
    }
  </div>
</div>
