<div class="hidden lg:flex justify-between">
  <div class="flex items-center gap-6">
    @for (tab of tabs(); track $index) {
      <button class="relative" (click)="setActiveTab(tab)">
        <div class="menu flex items-center font-medium text-lg">
          {{ tab }}
          <i-lucide
            [name]="icons.chevronDown"
            class="transition-transform duration-300 size-4"
            [ngClass]="{
              'rotate-180': activeTab() === tab,
            }" />
        </div>
        <div
          class="absolute top-10 w-[16rem] text-gray-800 right-0 animate-Up py-8 px-6 gap-6 text-start font-normal z-30 bg-white shadow-lg rounded-lg transition-transform duration-300"
          [ngClass]="activeTab() === tab ? 'block active-nav animate-fadeInUp' : 'hidden'">
          <div class="grid grid-cols-1 gap-x-8 gap-y-6">
            @for (link of getLinks(links(), activeTab()); track $index) {
              <a [routerLink]="link.path" [fragment]="link.fragment" class="group flex items-center gap-2.5">
                <span class="h-8 w-8 flex items-center justify-center bg-primary-600 text-white rounded-full">
                  <i-lucide [name]="link.icon" class="size-4 group-hover:animate-spin" />
                </span>
                <p class="flex flex-col gap-0.5 font-medium">
                  {{ link.name }}
                  <span class="description text-gray-700 text-sm">{{ link.description }}</span>
                </p>
              </a>
            }
          </div>
        </div>
      </button>
    }
    @if (user()) {
      <div class="flex items-center gap-3">
        <button class="relative menu flex items-center gap-0.5" (click)="setActiveTab('account')">
          <img
            [src]="user() | apiIMG: 'user'"
            alt="User Image"
            class="object-cover h-8 w-8 ring-2 ring-primary-600 bg-gray-200 rounded-full" />
          <i-lucide
            [name]="icons.chevronDown"
            class="transition-transform duration-300 size-4"
            [ngClass]="{
              'rotate-180': activeTab() === 'account',
            }" />
          <div
            class="absolute top-10 w-[13rem] right-0 animate-Up py-8 px-6 gap-6 z-30 bg-white shadow-lg rounded-lg transition-transform duration-300"
            [ngClass]="activeTab() === 'account' ? 'block active-nav animate-fadeInUp' : 'hidden'">
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 font-medium text-gray-900">
              <a [routerLink]="'/dashboard'" class="group flex items-center gap-2.5">
                <span class="h-8 w-8 flex items-center justify-center text-white bg-primary-600 rounded-full">
                  <i-lucide [name]="icons.dashboard" class="size-4 group-hover:animate-spin" />
                </span>
                Mon compte
              </a>
              <button class="group flex items-center gap-2.5" (click)="handleSignOut()">
                <span class="h-8 w-8 flex items-center justify-center text-white bg-red-600 rounded-full">
                  <i-lucide [name]="icons.logOut" class="size-4 group-hover:animate-spin" />
                </span>
                Déconnexion
              </button>
            </div>
          </div>
        </button>
      </div>
    } @else {
      <a routerLink="/sign-in" pButton class="primary-link">Se connecter</a>
    }
  </div>
</div>
