@let calls = calls$ | async;
<section>
  <div class="relative min-h-[80vh] py-80 w-full flex flex-col bg-[url('/images/s.webp')] bg-cover bg-no-repeat">
    <div
      @fadeInStagger
      class="absolute top-0 left-0 pt-24 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-950/35 gap-6 text-white">
      <div class="flex flex-col items-start justify-center px-8 mx-auto md:max-w-screen-lg xl:px-0">
        <h1 class="fade-item font-extrabold block text-3xl hyphens-none xl:text-7xl mb-6">
          Building an ecosystem of innovators!
        </h1>
        <p class="fade-item font-medium block text-xl mb-6 hyphens-none">
          Transformez vos idées en actions pour un avenir durable. Explorez les défis, proposez vos solutions et
          bénéficiez d'un accompagnement pour maximiser votre impact.
        </p>
      </div>
    </div>
  </div>

  <div class="pt-8 px-8 md:mx-auto md:max-w-screen-lg xl:px-0">
    @if (calls?.isLoading) {
      <div class="mt-10 grid grid-cols-1 gap-x-3 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
          <app-call-card-skeleton />
        }
      </div>
    }

    @if (calls?.data; as c) {
      <div class="mt-1o grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
        @for (
          call of c[0] | paginate: { itemsPerPage: 9, currentPage: queryParams()['page'] || 1, totalItems: c[1] };
          track call.id
        ) {
          <app-call-card [call]="call" />
        }
      </div>
      @if (c[1] > 9) {
        <div class="flex justify-center mt-8">
          <pagination-controls
            nextLabel=""
            previousLabel=""
            [maxSize]="5"
            (pageChange)="handlePageChange($event)"
            class="pg">
          </pagination-controls>
        </div>
      }
    }

    @if (!calls?.isLoading && calls?.data?.[1] === 0) {
      <h2 class="px-8 pb-16 text-3xl font-semibold">Aucun appel !</h2>
    }
  </div>
</section>
