<section class="min-h-[105vh] text-gray-600 dashboard-main-content">
  @let users = store.users()?.[0];
  <!-- @let totalUsers = store.users()?.[1]; -->
  @if (users) {
    <p-table [value]="users" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #caption>
        <div class="flex items-center justify-between mb-8">
          <span class="text-xl font-bold">Liste des utilisateurs</span>
          <p-button class="flex h-10 w-10" rounded raised>
            <i-lucide [name]="icons.refresh" class="size-4 text-white flex" />
          </p-button>
        </div>
      </ng-template>
      <ng-template #header>
        <tr class="text-sm">
          <th>Image</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Join le</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr class="text-sm">
          <td>
            <p-avatar [image]="user | apiIMG: 'user'" size="large" />
          </td>
          <td>{{ user.name | titlecase }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.created_at | date: 'longDate' }}</td>
          <td>
            <div class="flex items-center gap-2">
              <button>
                <i-lucide [name]="icons.view" class="size-5" />
              </button>
              <button>
                <i-lucide [name]="icons.edit" class="size-4" />
              </button>
              <button>
                <i-lucide [name]="icons.trash" class="size-4" />
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template #footer>
        <tr class="w-full">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalUsers" />
        </tr>
      </ng-template> -->
    </p-table>
  }
</section>
