<div class="lg:hidden">
  <button (click)="toogleNav()">
    <i-lucide [name]="isOpen() ? icons.close : icons.menu" class="size-5" />
  </button>
  <div
    class="fixed top-16 left-0 right-8 bottom-0 bg-white transition-transform duration-300 -translate-x-[120vw]"
    [ngClass]="{
      'translate-x-0 active-nav': isOpen() && !activeTab(),
    }">
    <div class="flex flex-col justify-between py-16 px-10 h-full text-gray-900">
      <div class="flex flex-col gap-6 font-bold text-xl menu">
        @for (tab of tabs(); track $index) {
          <button class="flex items-center justify-between" (click)="setActiveTab(tab)">
            {{ tab }}
            <i-lucide [name]="icons.chevronRight" class="size-6" />
          </button>
        }
      </div>
      @if (user()) {
        <div class="flex flex-col gap-8 text-gray-900">
          <div class="flex items-center gap-2">
            <a [routerLink]="'/dashboard'" class="flex items-center gap-2">
              <div class="relative h-12 w-12">
                <img
                  [ngSrc]="user | apiIMG: 'user'"
                  alt="User  Image"
                  class="aspect-video object-cover ring-2 ring-primary-600 bg-gray-200 rounded-full"
                  fill />
              </div>
              <div class="flex flex-col">
                <p class="text-gray-900 font-semibold line-clamp-1">
                  {{ user()?.name }}
                </p>
                <p class="text-gray-500 text-sm line-clamp-1">
                  {{ user()?.email }}
                </p>
              </div>
            </a>
          </div>
          <button
            class="flex items-center text-white justify-center text-center px-6 py-2 bg-red-800 rounded-sm hover:bg-red-900 disabled:bg-red-800/30 transition-colors duration-300 gap-1.5 font-medium text-base"
            (click)="handleSignOut()">
            Se déconnecter
          </button>
        </div>
      } @else {
        <a
          routerLink="/sign-in"
          class="flex items-center justify-center text-white px-6 py-2 bg-primary-600 rounded-sm hover:bg-primary-700 transition-colors duration-300 gap-1.5 font-medium text-base">
          Se connecter
        </a>
      }
    </div>
  </div>
  <ul
    class="text-base text-gray-800 fixed top-16 left-0 right-8 bottom-0 bg-white z-30 transition-transform duration-300 -translate-x-[120vw]"
    [ngClass]="{
      'translate-x-0 active-nav': isOpen() && activeTab(),
    }">
    <div class="flex flex-col items-start justify-start gap-7 font-medium py-16 px-10 h-full">
      <div class="menu">
        <button class="font-semibold text-gray-800 flex items-center gap-1.5 my-4" (click)="setActiveTab('')">
          <i-lucide [name]="icons.back" class="size-4" />
          Retour
        </button>
      </div>
      @for (link of getLinks(links(), activeTab()); track $index) {
        <a [routerLink]="link.path" [fragment]="link.fragment" class="group flex items-center gap-2.5">
          <span class="h-8 w-8 flex items-center justify-center text-white bg-primary-600 rounded-full">
            <i-lucide [name]="link.icon" class="size-4 group-hover:animate-spin" />
          </span>
          <p class="flex flex-col gap-0.5 font-medium">
            {{ link.name }}
            <span class="description text-gray-700 text-sm">{{ link.description }}</span>
          </p>
        </a>
      }
    </div>
  </ul>
</div>
