<section>
  @let user = authStore.user();
  @let call = store.call();
  @if (call) {
    <div class="relative h-[75vh] py-72 w-full">
      <img [ngSrc]="call | apiIMG: 'call'" [alt]="call.name" class="object-cover" fill priority />
      <div
        class="absolute top-0 left-0 right-0 py-56 bottom-0 flex flex-col items-start justify-center bg-gray-800/80 gap-6 text-white">
        <div
          class="flex flex-col items-start justify-center font-medium px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto">
          <h1 class="font-black block text-2xl hyphens-none md:text-2xl xl:text-4xl mb-8">
            {{ call.name | titlecase }}
          </h1>
          <p class="font-medium block line-clamp-2 text-lg mb-6 hyphens-none">
            {{ call.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="px-4 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto min-h-[40vh]">
      <div class="px-4 md:px-8 pb-16 border-x border-dashed border-gray-200">
        <button class="py-6 pb-8 text-primary-400 hover:underline flex items-center gap-2" (click)="back()">
          <i-lucide [name]="icons.back" class="size-4" />
          Revenir
        </button>
        <h1 class="font-extrabold mb-6 text-xl md:text-4xl hyphens-none">
          {{ call.name | titlecase }}
        </h1>
        <p class="font-medium mb-8">
          {{ call.description }}
        </p>
        <div class="flex flex-col gap-3">
          <p>
            Début : <span class="font-semibold">{{ call.started_at | date: 'longDate' }}</span>
          </p>
          <p>
            Fin : <span class="font-semibold">{{ call.ended_at | date: 'longDate' }}</span>
          </p>
        </div>
        @if (!isPast(call.ended_at) && user && call.form) {
          <app-application-form [call]="call.id" [fields]="call.form" />
        }
        @if (isPast(call.ended_at)) {
          <h5 class="font-medium text-lg my-6">Candidature fermée</h5>
        }
        @if (!user && !isPast(call.ended_at)) {
          <h5 class="font-medium text-lg my-6">
            Connectez-vous pour postuler
            <a routerLink="/sign-in" class="hover:underline text-primary-700">cliquez-ici ! </a>
          </h5>
        }
      </div>
    </div>
  }
  @if (store.isLoading()) {
    <app-call-skeleton />
  }
  @if (!store.call() && !store.isLoading()) {
    <div class="h-screen flex items-center justify-center">
      <h2 class="px-8 py-12 text-3xl font-semibold">Aucun appel avec cet identifiant!</h2>
    </div>
  }
</section>
