<div class="relative px-8 sm:px-6 lg:px-16 xl:px-20 2xl:px-32 max-w-screen-3xl mx-auto">
  <div class="p-8 min-h-[105vh] text-gray-600 border-x border-dashed border-gray-200">
    @if (store.isLoading()) {
      <app-solution-skeleton />
    }
    @if (store.solution(); as s) {
      <div class="flex flex-col md:flex-row md:items-center mb-6 gap-6 pt-xp16">
        <div class="relative h-16 w-16 bg-gray-200 rounded-full">
          <img [ngSrc]="s.user | apiIMG: 'user'" alt="User Image" class="object-cover rounded-full" fill />
        </div>
        <div class="flex flex-col gap-1">
          <p class="text-gray-500">Déposé le · {{ s.created_at | date: 'longDate' }}</p>
          <p class="text-gray-900">{{ s?.user?.name }} · {{ s?.user?.email }}</p>
        </div>
      </div>

      <div
        class="relative pb-10 h-60 w-full md:h-96 bg-gray-50 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg mb-10">
        <img [ngSrc]="s | apiIMG: 'solution'" [alt]="'Photo de couverture'" class="object-cover" fill priority />
      </div>

      @for (d of s.responses | orderJSON: orderedResponses(); track $index) {
        @if (d.value) {
          <div class="flex flex-col gap-1 mb-4">
            <h5 class="text-lg font-medium text-gray-900">{{ d.key }}</h5>
            @if (checkLink(d.value)) {
              <a [href]="d.value" target="_blank" class="text-blue-600 hover:underline">
                {{ d.value }}
              </a>
            } @else {
              <p class="text-gray-500">{{ d.value }}</p>
            }
          </div>
        }
      }
    }
    @if (!store.solution() && !store.isLoading()) {
      <div class="py-8 max-w-screen-xl lg:py-20">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">404</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Aucune solution trouvée</p>
        <p class="mb-4 text-lg font-light text-gray-500">
          Nous n'avons pas trouvé de solution correspondant à votre recherche.
        </p>
      </div>
    }
  </div>
</div>
