<div class="relative">
  @let solutions = solutions$ | async;
  <div class="p-8 text-gray-600 border-x border-dashed border-gray-200 lg:mx-auto lg:max-w-screen-lg">
    <h2 class="text-xl md:text-2xl mb-8 text-gray-800 font-semibold pt-20 md:w-2/3">
      Les solutions innovantes de
      <span class="inline-block after:block after:w-full after:h-1 after:-mt-2 after:bg-sky-400"> la communauté. </span>
    </h2>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-3 lg:grid-cols-4">
      @if (solutions?.isLoading) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]; track $index) {
          <app-solution-card-skeleton />
        }
      }
      @if (solutions?.data?.[0]; as d) {
        @for (
          solution of d
            | paginate: { itemsPerPage: 20, currentPage: queryParams().page || 1, totalItems: solutions?.data?.[1] };
          track solution?.id
        ) {
          <app-solution-card [solution]="solution" />
        }
        <div class="flex justify-center items-center mt-20">
          <pagination-controls
            nextLabel=""
            previousLabel=""
            [autoHide]="true"
            [maxSize]="5"
            (pageChange)="onPageChange($event)"
            class="pg">
          </pagination-controls>
        </div>
      }
    </div>
  </div>
</div>
