<section class="min-h-[105vh] text-gray-600">
  @let user = authStore.user();
  @if (user) {
    <div class="flex flex-wrap items-center gap-4 mb-4">
      <div class="relative h-14 w-14 bg-gray-200 rounded-full">
        <img
          [ngSrc]="user | apiIMG: 'user'"
          alt="User profile Image"
          class="aspect-video object-cover ring-2 ring-primary-600 rounded-full"
          fill />
      </div>
      <div class="flex flex-col">
        <p class="text-gray-500">Rejoint le · {{ user.created_at | date: 'longDate' }}</p>
        <p class="text-gray-900">{{ user.name }} · {{ user.email }}</p>
      </div>
    </div>
    <div class="pb-10">
      <div
        class="flex overflow-x-auto gap-5 border-b border-dashed border-primary-200 font-medium pt-4 whitespace-nowrap mb-4 no-scrollbar">
        @for (tab of tabs(); track $index) {
          <button
            class="flex items-center gap-2 pr-0.5 pb-2.5 py-1.5 text-gray-700 transition-colors duration-300"
            (click)="setActiveTab(tab.label)"
            [ngClass]="{
              'border-b border-primary-600': activeTab() === tab.label,
            }">
            <div class="flex items-center gap-2">
              <i-lucide [name]="tab.icon" class="size-5 text-primary-500" />
              {{ tab.label }}
            </div>
          </button>
        }
      </div>
      @if (activeTab() === 'Mes informations') {
        <app-profile-info [user]="user" />
      }
      @if (activeTab() === 'Vulgarisation') {
        <app-profile-outreach [user]="user" />
      }
    </div>
  }
</section>
