<section class="min-h-[105vh] text-gray-600 dashboard-main-content">
  @let user = authStore.user();
  @if (user) {
    <div class="flex flex-wrap items-center gap-4 mb-4">
      <div class="relative h-14 w-14 bg-gray-200 rounded-full">
        <img
          [ngSrc]="user | apiIMG: 'user'"
          alt="User profile Image"
          class="aspect-video object-cover ring-3 ring-primary-400 rounded-full"
          fill />
      </div>
      <div class="flex flex-col">
        <p class="text-gray-500">Rejoint le · {{ user.created_at | date: 'longDate' }}</p>
        <p class="text-gray-900">{{ user.name }} · {{ user.email }}</p>
      </div>
    </div>
    <div class="pb-10">
      <div
        class="flex overflow-x-auto gap-5 border-b border-gray-300/80 font-medium pt-4 whitespace-nowrap mb-4 scrollbar-hide">
        @for (tab of tabs(); track $index) {
          <button
            class="relative pb-2 hover:text-primary-500 transition-colors duration-200"
            (click)="setActiveTab(tab.label)">
            <div class="flex items-center gap-1">
              <i-lucide [name]="tab.icon" class="size-4 text-primary-500" />
              {{ tab.label }}
            </div>
            <div
              class="absolute bottom-0 left-0 h-0.5 bg-primary-500 w-0 transition-all duration-200"
              [ngClass]="{
                'w-full': activeTab() === tab.label,
              }"></div>
          </button>
        }
      </div>
      @if (activeTab() === 'Mes informations') {
        <app-account-info [user]="user" />
      }
      @if (activeTab() === 'Vulgarisation') {
        <app-account-outreach [user]="user" [outreached]="outreachStore.count()" />
      }
    </div>
  }
</section>
