<header
  class="fixed top-0 left-0 md:left-[20vw] right-0 h-16 flex items-center z-30 bg-white shadow-xs text-gray-800 transition-colors duration-300 font-satoshi">
  <nav class="flex justify-between items-center w-full px-8">
    <a routerLink="/" class="flex items-center gap-1.5 opacity-100 md:opacity-0" aria-label="logo">
      <img ngSrc="/images/favicon.png" alt="logo" class="w-6 h-6" width="64" height="68" priority />
      <h1 class="font-bold text-2xl">fikiri<span class="text-primary-400 animate-ping">.</span></h1>
    </a>
    <div>
      <app-mobile-nav [user]="authStore.user()" [links]="links()" (singOut)="signOut()" />
      <app-desktop-nav [user]="authStore.user()" />
    </div>
  </nav>
</header>
