<app-auth-card>
  @let signIn = signIn$ | async;
  <form class="flex flex-col gap-4" (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
    <div class="flex flex-col gap-1.5">
      <label for="address" class="font-medium">Adresse (Ville)</label>
      <input pInputText type="text" id="address" name="address" formControlName="address" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="name" class="font-medium">Nom complet</label>
      <input pInputText type="text" id="name" name="name" formControlName="name" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="email" class="font-medium">Adresse e-mail</label>
      <input pInputText type="email" id="email" name="email" formControlName="email" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="phone_number" class="font-medium">Numéro de téléphone</label>
      <input
        pInputText
        type="phone_number"
        id="phone_number"
        name="phone_number"
        formControlName="phone_number"
        autocomplete="none" />
    </div>
    <p-button
      [loading]="signIn?.isLoading"
      [disabled]="signIn?.isLoading || signUpForm.invalid"
      class="mt-4"
      type="submit">
      S'inscrire
    </p-button>
  </form>
</app-auth-card>
