<div class="lg:hidden flex items-center justify-between">
  <button (click)="toogleNav()">
    <i-lucide [name]="isOpen() ? icons.close : icons.menu" class="size-6" />
  </button>
  <div
    class="fixed top-16 left-0 right-10 bottom-0 bg-white backdrop-blur-lg transition-transform duration-300 text-lg"
    [ngClass]="isOpen() ? 'translate-x-0 active-nav' : '-translate-x-full'">
    <div class="flex flex-col justify-between py-16 px-10 h-full text-gray-900">
      <div class="flex flex-col gap-6 font-bold menu">
        @for (link of links(); track $index) {
          <a [routerLink]="link.path" class="flex items-center gap-2.5 group">
            <i-lucide [name]="link.icon" class="size-5 text-primary-600" />
            {{ link.name }}
          </a>
        }
      </div>
      @if (user()) {
        <div class="flex flex-col gap-8 text-gray-900">
          <button
            class="flex items-center text-white justify-center text-center px-6 py-2 bg-red-800 rounded-sm hover:bg-red-900 disabled:bg-red-800/30 transition-colors duration-300 gap-1.5 font-medium text-base"
            (click)="handleSignOut()">
            Se déconnecter
          </button>
        </div>
      } @else {
        <a
          routerLink="/sign-in"
          class="flex items-center justify-center text-white px-6 py-2 bg-primary-600 rounded-sm hover:bg-primary-700 transition-colors duration-300 gap-1.5 font-medium text-base">
          Se connecter
        </a>
      }
    </div>
  </div>
</div>
