<div class="hidden lg:flex justify-between">
  <div class="flex items-center gap-3">
    <button class="relative menu flex items-center gap-2" (click)="setActiveTab('account')">
      <img
        [ngSrc]="user() | apiIMG: 'user'"
        alt="User profile Image"
        width="32"
        height="32"
        class="aspect-video object-cover h-8 w-8 ring-2 ring-primary-600 bg-gray-200 rounded-full" />
      <div class="flex items-center">
        <p class="text-gray-900 font-semibold text-sm">{{ user()?.name | titlecase | slice: 0 : 15 }}</p>
        <i-lucide
          [name]="icons.chevronDown"
          class="transition-transform duration-300 size-4"
          [ngClass]="{
            'rotate-180': activeTab() === 'account',
          }" />
      </div>
      <div
        class="absolute top-10 w-[13rem] right-0 animate-Up py-8 px-6 gap-6 z-30 bg-white shadow-lg rounded-lg transition-transform duration-300"
        [ngClass]="activeTab() === 'account' ? 'block active-nav animate-fadeInUp' : 'hidden'">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 font-medium text-gray-900">
          <button class="group flex items-center gap-2.5" (click)="handleSignOut()">
            <span class="h-8 w-8 flex items-center justify-center text-white bg-red-600 rounded-full">
              <i-lucide [name]="icons.logOut" class="size-4 group-hover:animate-spin" />
            </span>
            Déconnexion
          </button>
        </div>
      </div>
    </button>
  </div>
</div>
