<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg xl:px-0 pt-8" id="about">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 mb-10">
    <div class="">
      <h1 class="text-xl md:text-2xl lg:text-5xl font-bold mb-1">
        About
        <span class="relative">
          us
          <div class="absolute top-0 left-0 right-0 h-[1px] bg-gray-300"></div>
        </span>
      </h1>
      <p class="mb-8 inline-flex items-center text-primary-500 gap-2">A propos de nous</p>
      <p class="mb-6 text-lg">
        Notre plateforme vise à identifier, cartographier et expérimenter des solutions innovantes pour accélérer
        l'atteinte des Objectifs de Développement Durable (ODD). À travers un processus structuré en trois phases, nous
        offrons un cadre de collaboration et d'exploration pour les porteurs de solutions, les experts et les
        institutions engagées.
      </p>
    </div>
    @if (isBrowser()) {
      <app-yt-player [videoID]="'xuCLFkqhZAs'" />
    } @else {
      <div class="h-full w-full bg-gray-200 animate-pulse"></div>
    }
  </div>

  <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
    @for (d of aboutData; track $index) {
      <div class="flex flex-col gap-2" data-aos="zoom-in">
        <p
          class="h-10 w-10 flex flex-col items-center justify-center font-extrabold text-lg border border-primary-600 text-primary-600 rounded-full">
          {{ $index + 1 }}
        </p>
        <h5 class="font-extrabold py-3 border-r text-lg border-gray-200 mb-1.5 text-gray-800">{{ d.title }}</h5>
        <p>{{ d.description }}</p>
      </div>
    }
  </div>
</section>
